/* ========================== Header ========================== */

header {
  background-color: var(--bg-header);
  transition: all 5s ease;
}

.header-icons small {
  background-color: var(--destructive);
  height: 20px;
  width: 20px;
}

.header-icons small.wishlist-qty {
  transform: translate(1px, -8px);
}

.header-icons small.cart-qty {
  transform: translate(14px, -6px);
}

/* ========================== Search ========================== */
.header-search {
  width: 60%;
}

.header-search input,
.header-search button {
  padding: 10px 10px 10px 20px;
}

.header-search input {
  width: 70%;
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
  outline: none;
}

.header-search input:focus {
  outline: none;
}

.header-search button {
  width: 30%;
  border-top-right-radius: 26px;
  border-bottom-right-radius: 26px;
  background-color: var(--primary) !important;
}

.header-icons .menu-toggle {
  display: none;
  cursor: pointer;
}

.home-icon {
  display: none !important;
}

/* ========================== Navigation ========================== */
.main-nav {
  /* background: var(--background); */
  /* border-top: 3px solid rgba(0, 136, 255, 0.25);
  border-bottom: 1px solid var(--border-color-light); */
}

.main-nav .ul-main-nav > li > a {
  color: #fff;
}

.main-nav .ul-main-nav > li > a:hover,
.main-nav .ul-main-nav > li > a:focus,
.main-nav .ul-main-nav > li.active > a {
  color: var(--primary);
  background-color: transparent;
}

.main-nav .ul-main-nav > li > a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--primary);
  transition: 0.2s all;
}

.main-nav .ul-main-nav > li > a:hover::after,
.main-nav .ul-main-nav > li > a:focus::after,
.main-nav .ul-main-nav > li.active > a::after {
  width: 100%;
}

svg.close {
  color: var(--primary);
  opacity: 0.8;
  visibility: hidden;
  cursor: pointer;
}

.main-nav .ul-main-nav li a svg {
  display: none;
}

/* ========================== Start Top Nav ========================== */
.top-nav {
  border-bottom: 1px solid rgba(248, 248, 248, 0.21);
}

.top-nav svg,
.top-nav .menu a:hover,
.top-nav .menu button:hover {
  color: var(--primary);
  transition: color 0.3s ease;
}

.top-nav .menu {
  background-color: var(--bg-header);
  border: 1px solid rgba(248, 248, 248, 0.21);
  border-radius: 12px;
  min-width: 150px;
  min-height: 100px;
  top: 0;
  z-index: 9999;
  transform: translate(-9px, 35%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.arrow-menu {
  font-size: 30px;
  transform: translate(-5px, -10px);
  background-color: var(--bg-header);
}

.show-drop-menu {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* ========================== End Top Nav ========================== */

/* Search Input */

.css-13cymwt-control {
  background-color: var(--background) !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: var(--shadow) !important;
  border-radius: 30px !important;
  min-height: 40px !important;
}

.css-13cymwt-control input {
  border-radius: 12px !important;
  padding: 10px 10px 10px 50px !important;
}

.css-1xc3v61-indicatorContainer {
  /* background-color: var(--primary); */
  width: 60px;
  min-height: 56px !important;
  display: flex;
  align-items: center;
}

.css-1jqq78o-placeholder {
  padding-left: 20px;
}

.product-option span {
  color: var(--text-dark);
}

.css-1nmdiq5-menu {
  background-color: var(--background) !important;
  box-shadow: none !important;
  border-color: var(--border-color-light) !important;
  padding: 5px;
}

.css-1u9des2-indicatorSeparator {
  background-color: transparent !important;
}
.css-tj5bde-Svg {
  margin: 0 auto;
}

/* ========== Responsive Nav ========== */

@media (max-width: 880px) {
  .header-icons .menu-toggle {
    display: inline-block;
  }

  .header-icons {
    margin-top: 20px;
  }

  .main-nav {
    position: fixed;
    left: 0;
    top: 0;
    background: var(--background);
    opacity: 1;
    height: 100vh;
    min-width: 300px;
    z-index: 99999999999;
    transform: translateX(-100%);
    transition: 0.2s all;
    box-shadow: var(--shadow);
  }

  .main-nav .ul-main-nav {
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 60px 5px;
  }

  .main-nav .ul-main-nav > li > a {
    padding: 0 0 13px 0;
    color: var(--text-dark);
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid var(--border-color-light);
  }

  .main-nav .ul-main-nav > li > a:hover::after,
  .main-nav .ul-main-nav > li > a:focus::after,
  .main-nav .ul-main-nav > li.active > a::after {
    width: 0%;
  }

  .main-nav .ul-main-nav li a svg {
    display: block;
  }

  svg.close {
    visibility: visible;
  }
}

@media (max-width: 768px) {
  .header-bottom {
    flex-direction: column;
  }
}

@media (max-width: 567px) {
  .header-icons {
    padding: 30px 0;
    position: fixed;
    bottom: 0;
    background-color: var(--bg-header);
    z-index: 999999999;
    left: 0;
    right: 0;
    box-shadow: var(--shadow);
    padding-bottom: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: all 0.3s ease;
  }

  .header-bottom a:hover {
    color: var(--primary) !important;
    margin: 0 20px !important;
  }
  .header-bottom a {
    margin: 0 20px !important;
  }
  .home-icon {
    display: flex !important;
  }

  .header-search {
    margin-bottom: 20px;
  }
}

.show-nav {
  transform: translateX(0) !important;
}
